<%= @event.title%>
<br><br>
<%= @event.description%>
<br><br>
<h3>nombre de personne</h3>
<br><br>
<%= @event.admin.email %>
<br><br>
<%= @event.start_date%>
<br><br>
<%= @event.location%>
<br><br>
<%= @event.price %>€
<% if user_signed_in? && @event.admin != current_user%>
 <h5>N'attendez plus, <%=link_to "cliquez ici", new_attendance_path(:event_id => params[:id]) %> pour réserver votre place !</h5>
<%end%>
