<%= @event.title%>
<br><br>
<%= @event.description%>
<br><br>
<h3>nombre de personne</h3>
<br><br>
<%= @event.admin.email %>
<br><br>
<%= @event.start_date%>
<br><br>
<%= @event.location%>
<br><br>
<%= @event.price%>
